<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate>Home</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <!-- <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/> -->
    <ion-card-content>
      <ion-card-title>
        <span translate>askdjhasdjl !</span>
      </ion-card-title>
      <p>
        <app-loader [isLoading]="isLoading"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q>
      </p>

      <div>
        <form>
          Name: <input id="datepicker" type="text" value="Theo Marcellus">

          email: <input type="text" value="admin@cnngraphics.com">

          Phone: <input type="text" value="954-614-3522">
          Date:  <input type="date" >

          <button ion-button class="primary" (click)="requestQuote()">Submit Request </button>
<br>
          <button ion-button class="primary" (click)="getAll()">Get All </button>
        </form>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>
